* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1c1c1c;
    color: #C8FFE0;
    padding: 50px;
}

.body {
    padding: 20px;
    border: 3px solid gold;
    background-color: #2e2e2e;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: gold;
}

h1:hover {
    color: aquamarine;
}

.cast-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of rows */
    justify-content: space-evenly; /* Spacing between items */
    gap: 15px;
    padding: 10px;
}

.cast-member {
    width: 30%; /* Allows for 3 items per row */
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s; /* Smooth hover transition */
}

.cast-member:hover {
    transform: scale(1.05); /* Slight scale-up effect on hover */
}

img {
    width: 100%; /* Ensures images cover the container */
    height: auto; /* Maintains image ratio */
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
    color: gold;
}

p {
    font-family: 'Georgia', serif;
    font-size: 14px;
    color: #C8FFE0;
}

.link {
    text-align: center;
    margin-top: 20px;
}

button {
    color: #FFFFFF;
    background-color: goldenrod;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
}

button:hover {
    background-color: lightyellow;
    color: black;
}
