* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1c1c1c; /* Dark background to */
    color: #FFC6C6;
    padding: 50px; /* Add padding around the page to create space around the content box */
}

.body {
    padding: 20px; /* Add padding inside the box */
    border: 3px solid gold; /* Gold border around the content */
    background-color: #2e2e2e; /* Slightly lighter background for the content box */
    border-radius: 10px;
    margin: auto; /* Center the box */
}

h1, h2, h3, ol, ul {
    text-align: center;
    color: gold; 
}

h1:hover {
    color: aquamarine;
}

hr {
    border: 1px solid gold; 
}

p {
    font-family: 'Georgia', serif;
    font-size: 18px;
    text-align: center;
}

.image-container {
    text-align: center;

}

ul, ol {
    margin-left: 40px;
    list-style-position: inside;
}

.link {
    text-align: center;
}

a, button {
    color: #FFFFFF; /* Button text color */
    background-color: goldenrod; /* Button background color */
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
}

button:hover, a:hover {
    background-color: lightyellow; /* Hover effect for buttons */
    color: black;
}

h2[draggable]:hover {
    color: aquamarine;
}
.img1 {
    border-radius: 25px;
}